.container-container {
  .category-container {
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: calc(100vh - 335px);
    // min-height: 500px;
    // overflow: scroll;
    overflow-x: hidden;
    // margin: 30px;
  }

  .remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    background-color: #f7f7f9;
  }
}
