h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 10px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

// .timerAndCheckbox {
//   display: flex;
//   align-items: center;
// }

// .form-input-container {
//   .form-input-col {
//     padding: 0;
//     margin: 0;
//   }
// }

// .timer-check-group {
//   height: 45px;
//   padding: 15px 0;
//   padding-right: 0;
//   margin-right: 0;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;

//   .form-group {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0;
//     padding: 0;

//     .form-label {
//       margin-top: 10px;
//     }
//   }

//   p {
//     margin-bottom: 0;
//     margin-right: 10px;
//     display: inline-block;
//   }
// }

// .timer-minutes,
// .timer-seconds {
//   display: flex;
//   .timer-row {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #f7f7f9;

//     .form-label {
//       margin-bottom: 0;
//     }

//     .timer-input {
//       padding: 0 0 0 10px !important;
//       margin: 0;
//     }
//   }
// }

// .timer-minutes {
//   padding-right: 10px;
// }

.modal {
  padding: 50px;
  font-size: 20px;
  // h3 {
  //   margin: 60px 0;
  // }

  h4 {
    font-weight: bold;
  }
  .instruction-group {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
    padding: 0 40px;

    .btn {
      display: inline-block;
      cursor: default;
      margin: 0 20px;
    }

    table {
      .letter-column {
        text-align: center;
        width: 50px;
        padding: 0;

        .letter-input {
          text-align: center;
          font-size: 20px;
        }
      }
      tr {
        text-align: center;
        height: 20px;
        padding: 0 20px;
      }
    }
    .header-container {
      display: flex !important;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 10px;
    }

    span {
      background-color: lightgrey;
      // padding: 5px 10px;
    }
  }
}
