.playGameContainer {
  box-sizing: border-box;
  min-width: 100%;
  padding: 0px 30px;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #000;
    height: 120px;

    .random-category {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      font-size: 40px;
      margin: 0 30px;
    }
    .header-btn {
      width: 150px;
      font-size: 20px;
      padding: 20px 10px;
      margin: 0 20px;
    }
  }

  table {
    text-align: center;

    th {
      font-size: 40px;
      margin: 0;
      padding: 0;
      position: relative;

      .header-letter {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 30px;
        text-transform: lowercase;
        margin-right: 25px;
      }
    }

    td {
      padding: 3px;
    }

    .letter {
      display: inline-block;
      height: 100%;
      font-size: 55px;
      margin: 0 15px;
      border: 0;
    }

    .table-input {
      font-size: 40px;
      padding: 0;
      margin: 0;
      text-align: center;
      border: 3px solid lighten(#4bbf73, 35%);

      &:focus {
        border: 3px solid #4bbf73;
      }
    }
    .table-word {
      font-size: 40px;
      padding: 0;
      padding-top: 12px;
      margin: 0;
      text-align: center;
      background-color: lightgrey;
      color: #55595c;
      position: relative;

      .remove-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: grey;
        padding: 10px;
        margin: 0;
        max-width: 10px;
        max-height: 10px;
        font-size: 10px;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  .letter-col {
    width: 40px;
  }
}

.timer {
  height: 92px;
  font-size: 40px;

  .seconds {
    text-align: left;
  }

  .minutes {
    text-align: right;
  }
}
