.random-category {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 40px;
  text-align: center;
  // margin: 0 30px;
}

.is-modal {
  font-size: 18px;
}
